<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>
                You've attempted to go to an unknown url. <a href="/">Return Home</a>
            </p>
        </LayoutView>
    </NotFound>
</Router>
